body {
    /* background-color: #ffaa00; */
    background-image: url("https://thumbs.dreamstime.com/b/vector-illustration-pine-trees-forest-receding-distance-background-light-blue-mountains-thick-fog-127162322.jpg");
    background-attachment: fixed;
    background-size: cover;
}