body {
    /* background-color: #ffaa00; */
    background-image: url("https://i.pinimg.com/originals/ed/5e/23/ed5e2325f0deabf41f368c83f6263e86.gif");
    background-attachment: fixed;
    background-size: cover;
}